USE [GestionClientes]
GO
/****** Object:  Table [dbo].[logeo_usuario]    Script Date: 26/6/2017 9:50:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logeo_usuario](
	[id_usuario] [int] NULL,
	[fecha_ingreso] [datetime] NULL
) ON [PRIMARY]

GO
INSERT [dbo].[logeo_usuario] ([id_usuario], [fecha_ingreso]) VALUES (7, CAST(0x0000A73D00000000 AS DateTime))
INSERT [dbo].[logeo_usuario] ([id_usuario], [fecha_ingreso]) VALUES (7, CAST(0x0000A73D0188D29A AS DateTime))
INSERT [dbo].[logeo_usuario] ([id_usuario], [fecha_ingreso]) VALUES (7, CAST(0x0000A73E009A97D3 AS DateTime))
GO
