USE [GestionClientes]
GO
/****** Object:  Table [dbo].[logeo_usuario]    Script Date: 23/6/2017 3:47:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logeo_usuario](
	[id_usuario] [int] NULL,
	[fecha_ingreso] [datetime] NULL
) ON [PRIMARY]

GO
